body 
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color:#333;
	background-color: #FFFFFF;
}

p {
    padding: 10px;
}

#wrapper 
{
    width: 100%;
    min-width: 1000px;
    max-width: 2000px;
	margin-top: 80px;
	margin-left:auto; margin-right:0;
}

#tankdiv
{
	position: absolute;
	float: left;
	top: 60px;
	width:20%;
}

#graphdiv
{
	position: absolute;
	float: right;
	margin-top: 25px;
	top: 60px;
	right: 0px;
	width:80%;
	
}

#topheader
{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 60px;
	background-color: #EEEEEE;
	color: #666666;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
}

#h3
{
	color: #666666;
	font-size: 8px;
	font-family: Arial, Helvetica, sans-serif;
}

#footer
{
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 100%;
	left: 0px;
	width: 100%;
	height: 60px;
	background-color: #EEEEEE;
	color: #666666;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
}



#h1
{
	position: absolute;
	left: 0px;
	top: 0px;
	margin-left: 10px;
	color: #666666;
	font-size: 28px;
	font-family: Arial, Helvetica, sans-serif;
}


#b1
{
 margin-top: 10px;
 margin-left: 10px;
 margin-bottom: 10px;
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  background: #616161;
  padding: 9px 20px 10px 23px;
  text-decoration: none;
}

#b1:hover {
  background: #00c4ff;
  text-decoration: none;
}
